set(gkick_rc_png_files

switch_button_on.png
switch_button_off.png

# ---- NOISE -----

noise1_label.png
noise2_label.png
noise_density_knob_label.png
noise_density_knob_bk.png
noise_density_knob_marker.png
noise_brightness_knob_label.png
noise_brightness_knob_bk.png
noise_brightness_knob_marker.png
noise_gain_knob_label.png
noise_gain_knob_bk.png
noise_gain_knob_marker.png

noise_white_button.png
noise_white_button_hover.png
noise_white_button_on.png
noise_white_button_hover_on.png
noise_pink_button.png
noise_pink_button_hover.png
noise_pink_button_on.png
noise_pink_button_hover_on.png
noise_brown_button.png
noise_brown_button_hover.png
noise_brown_button_on.png
noise_brown_button_hover_on.png

)
