set(ent_rc_png_files

switch_button_on.png
switch_button_off.png

# ---- Common Knobs -----

knob_big_size_bk.png
knob_big_size_marker.png
knob_medium_size_bk.png
knob_medium_size_marker.png

# ---- Modules Widget Tabs ---

tab_noise_button.png
tab_noise_button_hover.png
tab_noise_button_on.png
tab_noise_button_hover_on.png
tab_crackle_button.png
tab_crackle_button_hover.png
tab_crackle_button_on.png
tab_crackle_button_hover_on.png
tab_glitch_button.png
tab_glitch_button_hover.png
tab_glitch_button_on.png
tab_glitch_button_hover_on.png

# ---- NOISE -----

noise_label.png
noise_density_knob_label.png
noise_brightness_knob_label.png
noise_gain_knob_label.png
noise_white_button.png
noise_white_button_hover.png
noise_white_button_on.png
noise_white_button_hover_on.png
noise_pink_button.png
noise_pink_button_hover.png
noise_pink_button_on.png
noise_pink_button_hover_on.png
noise_brown_button.png
noise_brown_button_hover.png
noise_brown_button_on.png
noise_brown_button_hover_on.png

# ---- CRAKCLE -----

crackle_label.png
crackle_rate_knob_label.png
crackle_randomness_knob_label.png
crackle_amplitude_knob_label.png
crackle_brightness_knob_label.png
crackle_duration_knob_label.png
crackle_stereospread_knob_label.png
crackle_exp_env_button.png
crackle_exp_env_button_on.png
crackle_exp_env_button_hover.png
crackle_exp_env_button_hover_on.png
crackle_linear_env_button.png
crackle_linear_env_button_on.png
crackle_linear_env_button_hover.png
crackle_linear_env_button_hover_on.png
crackle_triangle_env_button.png
crackle_triangle_env_button_on.png
crackle_triangle_env_button_hover.png
crackle_triangle_env_button_hover_on.png

# ---- GLITCH -----

glitch_label.png
glitch_repeats_knob_label.png
glitch_probability_knob_label.png
glitch_length_knob_label.png
glitch_maxjump_knob_label.png
glitch_minjump_knob_label.png

)
